<h2 class="sr-only">On the Orgin of Fair Use, A Comic </h2>
<a href="{{site.baseurl}}/assets/files/FairUse_final_jroche.pdf"><img alt="comic thumbnail" src="{{site.baseurl}}/assets/img/FairUse_final_1_jroche.jpg" class="img-responsive center-block"></a>
<!-- <p><a href="{{site.baseurl}}/assets/files/global-impact-2014.pdf">Download the poster</a></p> -->

<h2 class="sr-only">Fair Use 2015 Poster</h2>
<a href="{{site.baseurl}}/assets/files/FairUseWeek2015poster.pdf"><img alt="poster thumbnail" src="{{site.baseurl}}/assets/img/FairUseWeek2015poster.png" class="img-responsive center-block"></a>
<!-- <p><a href="{{site.baseurl}}/assets/files/global-impact-2014.pdf">Download the poster</a></p> -->
