<section class="text-center">
  <h2>All our FAQs</h2>
  <ul>
    <li>
      <a href="{{site.baseurl}}/authors/faq/">Author FAQ</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/authors/amend/faq/">Author Addenda FAQ</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/policies/faq/">OA Policy FAQ</a>
    </li>
    <li>
      <a href="https://osc.hul.harvard.edu/dash/using">DASH FAQ</a>
    </li>
    <li>
      <a href="https://osc.hul.harvard.edu/dash/manual-deposit">Depositing FAQ</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/programs/open-initiatives/huh-pd/faq">Herbaria Digitization FAQ</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/programs/open-initiatives/hl-pd/faq/">HL Digital Reproductions FAQ</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/programs/hope/faq/">HOPE Fund FAQ</a>
    </li>
    <li>
      <a href="{{site.baseurl}}/publishers/faq">Publisher FAQ</a>
    </li>
  </ul>
</section>

<section class="text-center">
  <h2> Still have questions?</h2>
  <p>Contact the <a href="mailto:{{site.email}}">OSC</a> or the <a href="{{site.baseurl}}/about/liaisons/">Open Access Liaison</a> for your community.</p>
</section>

