<section class="text-center">
  <h2>All our FAQs</h2>
  <ul>
    <li>
      <a href="/authors/faq/">Author FAQ</a>
    </li>
    <li>
      <a href="/authors/amend/faq/">Author Addenda FAQ</a>
    </li>
    <li>
      <a href="/policies/faq/">OA Policy FAQ</a>
    </li>
    <li>
      <a href="https://osc.hul.harvard.edu/dash/using">DASH FAQ</a>
    </li>
    <li>
      <a href="https://osc.hul.harvard.edu/dash/manual-deposit">Depositing FAQ</a>
    </li>
    <li>
      <a href="/programs/open-initiatives/hl-pd/faq/">HL Digital Reproductions FAQ</a>
    </li>
    <li>
      <a href="/programs/hope/faq/">HOPE Fund FAQ</a>
    </li>
    <li>
      <a href="/publishers/faq">Publisher FAQ</a>
    </li>
  </ul>
</section>

<section class="text-center">
  <h2> Still have questions?</h2>
  <p>Contact the <a href="mailto:osc@harvard.edu">OSC</a> or the <a href="/about/liaisons/">Open Access Liaison</a> for your community.</p>
</section>

