<h2 class="sr-only"> Harvard Scholarship, Global Impact </h2>
<p class="sr-only"> Since the 2009 launch of DASH, Harvard's open-access repository, its article have been downloaded nearly four million times by users in every country on earth.</p>
<ul>
  <li class="sr-only"> Canada: 139,350</li>
  <li class="sr-only"> United States: 1,445,083</li>
  <li class="sr-only"> Brazil: 30,781</li>
  <li class="sr-only"> Iceland: 1,063</li>
  <li class="sr-only"> United Kingdom: 228,247</li>
  <li class="sr-only"> Tanzania: 4,286</li>
  <li class="sr-only"> Egypt: 106,12</li>
  <li class="sr-only"> Iraq: 4,101</li>
  <li class="sr-only"> Russia: 42,834</li>
  <li class="sr-only"> China: 351,242</li>
  <li class="sr-only"> Indonesia: 33,111</li>
  <li class="sr-only"> North Korea: 68</li>
</ul>
<p class="sr-only">You can access Harvard scholarship. dash dot harvard dot e d u</p>

<a href="{{site.baseurl}}/assets/files/global-impact-2014.pdf"><img alt="poster thumbnail" src="{{ site.baseurl }}/assets/img/global-impact-2014.png" class="img-responsive center-block"></a>
<!-- <p><a href="{{site.baseurl}}/assets/files/global-impact-2014.pdf">Download the poster</a></p> -->
