<h2 class="sr-only"> The DASH Repository: Harvard Scholarship, Global Impact </h2>
<p class="sr-only"> DASH user story: I am a social worker in Child Welgare and I often don't have access to academic articles because I am not connected to a university.</p>
<p class="sr-only"> In response to "The Racial Disproportionality Movement in Child Welfare: False Facts and Dangerous Directions", by Harvard author Elizabeth Batholet</p>
<p class="sr-only">dash dot harvard dot e d u</p>

<a href="{{site.baseurl}}/assets/files/child-wlefare-2013.pdf"><img alt="poster thumbnail" src="{{site.baseurl}}/assets/img/child-welfare-2013.png" class="img-responsive center-block"></a>
<!-- <p><a href="{{site.baseurl}}/assets/files/child-welfare-2013.pdf">Download the poster</a></p> -->
