<h2 class="sr-only"> OA 2015 Week Posters </h2>

<p> How did Harvard authors make a difference, across the globe?</p>

<a href="assets/files/OSC-DASH-OA-flyer.pdf">Print Our Posters</a>

<a href="assets/files/OSC-DASH-OA-slide-1280x720BRAZIL.png"><img alt="poster thumbnail" src="assets/img/brazil.png" class="img-responsive center-block"></a>
<br>
<a href="assets/files/OSC-DASH-OA-slide-1280x720INDIA.png"><img alt="poster thumbnail" src="assets/img/india.png" class="img-responsive center-block"></a>
<br>
<a href="assets/files/OSC-DASH-OA-slide-1280x720THAILAND.png"><img alt="poster thumbnail" src="assets/img/thailand.png" class="img-responsive center-block"></a>
