<section class="text-center"> 
  <h2>Read the OA Policies</h2>
  {% include community-list.html type="school" link-to="policies" %}
  {% include community-list.html type="center" link-to="policies" %}
</section>

<section>
  <h2 class="sr-only">Our Provost Speaks About Open Access</h2>
  <blockquote>
    <p>“The goal of university research is the creation, dissemination, and preservation of knowledge.</p>
    <p>At Harvard, where so much of our research is of global significance, we have an essential responsibility to distribute the fruits of our scholarship as widely as possible.”</p>
    <cite>
      Steven E. Hyman <br>
      Provost of Harvard University
    </cite>
  </blockquote>
</section>
