<a href="{{page.home}}"><img alt="{{page.school}} logo" src="{{site.baseurl}}/assets/img/{{page.logo}}" class="img-responsive center-block"></a>

<ul>
  <li><a href="{{site.baseurl}}/policies/faq/">Read the OA Policy FAQ</a></li>
  <li><a href="https://osc.hul.harvard.edu/dash/quicksubmit">Submit to DASH</a></li>
  <li><a href="https://osc.hul.harvard.edu/dash/authors/waiver/generate">Get A Waiver</a></li>
</ul>

{% for quote in page.quotes %}
  <section class="blurb">
    <h2 class="sr-only">Take Away {{ forloop.index }}</h2>
    <q>{{ quote }}</q>
  </section>
{% endfor %}
