---
layout: right-inner-sidebar
sidebar: peter
breadcrumbs: true
title: Journal-Flipping Project
---

<p>This is a 2015-2016 project to gather options and best practices on converting subscription-based scholarly journals to open access.</p>

<hr>

{% for post in site.categories["journal-flipping"] limit:1 %}
## Latest News
<section class="first-post">
    <heading>
    <h3>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p class="policy-adoption"> {{ post.date | date: "%B %-d, %Y" }}</p>
    </heading>
    {{ post.excerpt | markdownify }}
    <a class="btn btn-default" href="{{ post.url | prepend: site.baseurl }}" role="button">Read more »</a>
{% endfor %}
</section>

<hr>

## Older Posts
<ul class="post-list">
{% for post in site.categories["journal-flipping"] offset: 1 %}
  <li>
    <h3>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h3>
    <p class="policy-adoption"> {{ post.date | date: "%B %-d, %Y" }}</p>
  </li>
{% endfor %}
</ul>
