<div class="footer-wrapper">
  <footer class="site-footer container">
    <div class="row">
      <div class="footer-info col-md-9">
        {% include social.html %}
        <p><abbr title="email">e</abbr>: <a href="mailto:{{site.email}}">{{site.email}}</a></p>
        <p><abbr title="telephone">t</abbr>: <a href="tel:{{site.phone | remove: " " | remove: "(" | remove: ")"}}">{{site.phone}}</a></p>
        <p><abbr title="fax">f</abbr>: <a href="fax:{{site.fax | remove: " " | remove: "(" | remove: ")"}}">{{site.fax}}</a></p>
        <small> &copy; 2015 President and Fellows of Harvard College</small>
      </div>
      <nav role="navigation" aria-label="footer nav" class="col-md-3">
        <ul class="list-unstyled">
          <li><a href="http://dash.harvard.edu">DASH</a></li>
          <li><a href="http://etds.lib.harvard.edu/about.html">ETDs@Harvard</a></li>
          <li><a href="/programs/copyright/">Copyright First Responders</a></li>
          <li><a href="/programs/hope/">HOPE</a></li>
        </ul>
        <ul class="list-unstyled">
          <li><a href="http://library.harvard.edu/">Harvard Library</a></li>
          <li><a href="http://www.harvard.edu/">Harvard University</a></li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
