---
layout: full-page
breadcrumbs: true
title: Copyright First Responders
---

<p>Copyright First Responders help advance teaching, learning, and scholarship through community engagement with copyright. Do you have a copyright question? Find the CFR in your library here.</p>

{% assign locations = site.data.cfrs | group_by: "location" | sort: "name" %}

<ul class="long-list">
  {% for location in locations %}
  <li><a href="#{{location.name | slugify}}">{{location.name}}</a></li>
  {% endfor %}
</ul>

{% for location in locations %}
  <h2 id="{{location.name | slugify}}" class="long-list-heading">{{location.name}}</h2>

  {% for person in location.items %}
    <div class="long-list-content address">
      <h3> {{person.name}} </h3>
      <p> {{person.title}} </p>
      <p><a href="mailto:{{person.email}}">{{person.email}}</a></p>
      <p><a href="tel:+1{{person.phone | remove: "-"}}">{{person.phone}}</a></p>
      <a href="#top">Back to top</a>
    </div>
  {% endfor %}
{% endfor %}


